.clear{
  clear: both;
}
.cont{
  width: 1024px;
  background-color: burlywood;
  margin: 0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  background-color: aquamarine;
}

header{
  text-align: center;
  color: red;
  font-size: 25px;
}

ul{
  list-style: none;
}

ul a{
  text-decoration: none;
}

.menu1 li{
  float: left;
  text-align: center;
  padding: 10px 62px;
  font-size: 24px;
  background-color:green;
}
.menu1 li:hover{
  color: rgb(49, 168, 158);
  background-color:rgb(114, 194, 39);
}
.menu1 li:active{
  color:white;
}
.left{
  float: left;
  margin: 12px;
  border-right: 3px solid blue;
  
}
main{
  
  margin: 10px;
  padding-top: 25px;
}
.menu2 li{
  padding: 10px 62px;
  font-size: 25px;
  background-color:green;
  color:yellow;
  margin: 30px 10px;
  
}.menu2 li:hover{
  background-color:rgb(145, 231, 231);
  color: rgb(90, 67, 30);   
}
footer{
  height: 50px;
  text-align: center;
  font-size: 18px;
}